body{
    background-image: url(../assets/apps.34080.13510798887528624.ea88a7e6-557c-4ad5-99d7-c574f430c827.jpeg);
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
    
}
h1{
    color: black;
}