<!DOCTYPE html>
<html>
  <head>
    <title>Resultado</title>
  </head>
  <body>
    <h1>Resultado</h1>
    <p>Cantidad de cartones generados: {{ cantidad }}</p>
    <ul>
        {% for carton in cartones %}
            <li>
                {% set numeros = carton['Cartones'] %}
                {% set filas = numeros.split(' ')|batch(9) %}
                <div>
                    <p>CARTON: {{ carton['ID'] }}</p>
                    {% for fila in filas %}
                        <p> {{ fila|join(' ') }}</p>
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
    </ul>
</body>